@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #000093;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* gap: 12.5vw; */
    /* gap: 7.73vw; */
    gap: clamp(7.73vw, 7vw, 12.5vw);
}
.header-options {
    display: flex;
    justify-content: flex-start;
    /* gap: 5vw; */
    gap: 3.5vw;
    margin-top: clamp(18.75px, 3.75vw, 26.25px);
}
.title {
    color: #FFFFFF;
    letter-spacing: -0.11em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(31.5px, 6.75vw, 72px);
    margin-left: clamp(5px, 7.75vw, 95px);
}
.title-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: -4%;
    margin-top: clamp(25px, 5vw, 35px);
}
.title-ellipse {
    width: clamp(276.609375px, 52.5vw, 600px);
    height: clamp(30.1875px, 6.75vw, 69px);
    border-radius: 100% 100% 100% 100%;
    background-color: #D9D9D9;
    opacity: 0.18;
    top: clamp(21px, 2.75vw, 65px);
}
.triangle-up {
    width: 0;
    height: 0;
    /* border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #D9D9D9; */
    /* border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 55px solid #D9D9D9; */
    border-left: clamp(55px, 7.8vw, 100px) solid transparent;
    border-right: clamp(55px, 7.8vw, 100px) solid transparent;
    border-bottom: clamp(55px, 7.8vw, 100px) solid #D9D9D9;
    opacity: 0.18;
    margin-top: clamp(25px, 5vw, 35px);
}

.triangle-down {
    width: 0;
    height: 0;
    /* border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #D9D9D9; */
    /* border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-top: 55px solid #D9D9D9; */
    border-left: clamp(55px, 7.8vw, 100px) solid transparent;
    border-right: clamp(55px, 7.8vw, 100px) solid transparent;
    border-top: clamp(55px, 7.8vw, 100px) solid #D9D9D9;
    opacity: 0.18;
    margin-top: clamp(25px, 5vw, 35px);
}
.triangle-text-about {
    position: absolute;
    top: 25%;
    left: 7%;
    color: #FFFFFF;
    letter-spacing: -0.11em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(31.5px, 6.75vw, 72px);
}
.triangle-text-contact {
    position: absolute;
    top: 25%;
    left: -4%;
    color: #FFFFFF;
    letter-spacing: -0.11em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(31.5px, 6.75vw, 72px);
}
.triangle-container {
    position: relative;
    display: inline-block;
}
.triangle-container {
    position: relative;
    display: inline-block;
}
.triangle-container:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}
.option-container:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}
.option-container-2:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}
.title-container:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}


.option-text {
    color: #FFFFFF;
    letter-spacing: -0.11em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(37px, 9vw, 85px);
    width: clamp(250px, 35vw, 700px);
    z-index: 2;
}
.option-shade-1 {
    color: #000000;
    letter-spacing: -0.11em;
    opacity: 0.18;
    line-height: 0.83;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(59px, 9vw, 97px); 
    width: clamp(250px, 35vw, 700px);
    position: absolute;
    bottom: 52.5%;
    height: auto;
}

.option-shade-2 {
    color: #000000;
    letter-spacing: -0.11em;
    opacity: 0.18;
    line-height: 0.83;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(59px, 9vw, 97px); 
    width: clamp(250px, 35vw, 700px);
    position: absolute;
    bottom: 52.5%;
    height: auto;
}
.option-shade-3 {
    color: #000000;
    letter-spacing: -0.11em;
    opacity: 0.18;
    line-height: 0.83;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(59px, 9vw, 97px); 
    width: clamp(500px, 35vw, 700px);
    position: absolute;
    bottom: 51%;
    height: auto;
}
.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 174px;
    margin-top: clamp(125px, 15vw, 174px);
    gap: 2vw;
    box-sizing: border-box;
}

.gallery-container, .about-container {
    margin: 0;
    flex: 1 1 0;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.gallery-container {
    align-items: flex-start;
}

.about-container {
    align-items: flex-end;
}

.contact-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    position: relative; 
    margin: clamp(40px, 3vw, 50px) auto 0 auto;
    width: fit-content;
    text-align: center;
}
.tv-image {
    width: clamp(300px, 45vw, 500px);
    height: auto;
    display: block;; 
    position: relative;
    /* margin: -200px auto 0 auto; */
    /* margin-top: clamp(-200px, -8vw, 0); */
    /* margin-top: 0px;
    margin-top: -200px; */
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.tv-image img {
  width: 100%;
  height: auto;
  display: block;
}
.tv-sticker {
    position: absolute;
    color: #FFFFFF;
    letter-spacing: -0.11em;
    opacity: 0.18;
    line-height: 0.83;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(8.5px, 1vw, 12px);
    right: 19%;
    bottom: 17%;
    pointer-events: none;
    width: max-content;
}
