@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #000093;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: clamp(7.73vw, 7vw, 12.5vw);
}
.header-options {
    display: flex;
    justify-content: flex-start;
    gap: 3.5vw;
    margin-top: clamp(18.75px, 3.75vw, 26.25px);
}
.title {
    color: #FFFFFF;
    letter-spacing: -0.11em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(31.5px, 6.75vw, 72px);
    margin-left: clamp(5px, 7.75vw, 95px);
}
.title-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: -4%;
    margin-top: clamp(25px, 5vw, 35px);
}
.title-ellipse {
    width: clamp(276.609375px, 52.5vw, 600px);
    height: clamp(30.1875px, 6.75vw, 69px);
    border-radius: 100% 100% 100% 100%;
    background-color: #D9D9D9;
    opacity: 0.18;
    top: clamp(21px, 2.75vw, 65px);
}
.triangle-up {
    width: 0;
    height: 0;
    border-left: clamp(55px, 7.8vw, 100px) solid transparent;
    border-right: clamp(55px, 7.8vw, 100px) solid transparent;
    border-bottom: clamp(55px, 7.8vw, 100px) solid #D9D9D9;
    opacity: 0.18;
    margin-top: clamp(25px, 5vw, 35px);
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: clamp(55px, 7.8vw, 100px) solid transparent;
    border-right: clamp(55px, 7.8vw, 100px) solid transparent;
    border-top: clamp(55px, 7.8vw, 100px) solid #D9D9D9;
    opacity: 0.18;
    margin-top: clamp(25px, 5vw, 35px);
}
.triangle-text-about {
    position: absolute;
    top: 25%;
    left: 7%;
    color: #FFFFFF;
    letter-spacing: -0.11em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(30px, 6vw, 70px);
}
.triangle-text-contact {
    position: absolute;
    top: 25%;
    left: -4%;
    color: #FFFFFF;
    letter-spacing: -0.11em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(30px, 6vw, 70px);
}
.triangle-container {
    position: relative;
    display: inline-block;
}
.triangle-container:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}
.option-container:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}
.option-container-2:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}
.title-container:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}
.gallery-container {
    display: flex;
    width: 100%;
    gap: 0px;
    margin-top: 25px;
    position: relative;
    justify-content: flex-start;
}
.column {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.left-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.right-column {
    flex: 1;
    justify-content: flex-start;
}
.option-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
    text-align: center;
    width: 100%;
    margin-top: clamp(10px, 3vw, 40px);
}
.option-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: clamp(45px, 5vw, 70px);
    position: relative;
    width: 100%;
}
.option-text {
    color: #FFFFFF;
    letter-spacing: -0.11em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(31.5px, 6.75vw, 72px);
    width: clamp(125px, 36vw, 550px);
    position: relative;
    flex: 2;
}
.about-text {
    color: #FFFFFF;
    letter-spacing: -0.07em;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: clamp(22px, 3vw, 45px);
    position: relative;
    flex: 2;
}
.dropcap {
    float: left;
    font-size: clamp(60px, 8vw, 120px);
    line-height: 0.8;
    margin: 0 5px 0 0;
    font-weight: 700;
    color: #FFFFFF;
}
.title-text {
    color: #FFFFFF;
    letter-spacing: -0.11em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(31.5px, 6.75vw, 72px);
    line-height: 0.8;
}
.rectangle {
    width: 90%;
    height: clamp(35%, 40vw, 72%);
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 75px;
    position: relative;;
    bottom: 0;
    top: clamp(0px, 3.5vw, 5px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rectangle-image {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    object-fit: contain;
    pointer-events: auto;
    cursor: pointer;
}
.rectangle-image:hover {
    transform: scale(1.05);
}


